<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>        
        <% if logged_in? %>
          <li class="nav-item" ><%= link_to "Profile", current_user,class: "nav-link" %></li>
          <li class="nav-item">
            <%= link_to "Se déconnecter", logout_path, method: :delete, class: "btn btn-danger"  %>
          </li>

        <% else %>
          <li class="nav-item"><%= link_to "Se connecter", login_path, class: "btn btn-primary" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
